*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Gotham Pro", sans-serif;
  color: #2F2F34;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  object-fit: cover;
}

.title {
  color:#2F2F34;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
  line-height:  25px
}

.container {
  max-width: 1440px;
  padding: 108px 100px 98px 103px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 393px); 
  grid-auto-rows: 353px 353px 353px; 
  grid-gap: 30px; 
}

.img-grid {
  padding: 24px 24px 20px 23px;
}

.text {
  padding-left: 23px;
  max-width: 261px;
}

.text-p {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}

.text-s {
  font-weight: bold;
}












